In [144]:
import numpy as np
import pandas as pd

In [145]:
# we use a pd.DataFrame(data, index, column) to create a dataframe

df = pd.DataFrame(np.arange(0,20).reshape(5, -1), index=["Row1", "Row2", "Row3", "Row4","Row5"], columns = ["column1", "column2", "column3", "column4"])

In [146]:
df.head()

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [147]:
df.to_csv("test1.csv")

In [148]:
# To access element, we use
#   1. .loc   2.    .iloc
#but if it is for column we can just call it directly like df["column1"] or if it is 2, df[["column1", "column2"]]

df.loc["Row1"]

column1    0
column2    1
column3    2
column4    3
Name: Row1, dtype: int64

In [149]:
type(df.loc["Row1"])

pandas.core.series.Series

In [150]:
df.iloc[0:3, 0:2]

      column1  column2
Row1        0        1
Row2        4        5
Row3        8        9

In [151]:
type(df.iloc[0:3, 0:2])

pandas.core.frame.DataFrame

In [152]:
# Convert DataFrames to arrays. we use .values

df.iloc[:, 1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [153]:
# to check if I have any null values, after adding all colomns

df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
dtype: int64

In [154]:
df["column1"].unique()

array([ 0,  4,  8, 12, 16])

In [155]:
df= pd.read_csv("Mercedesbenz.csv")

In [156]:
df.head() # diaplays the top 5 rows

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [157]:
df.info() # to get the information regarding the csv

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [158]:
# to get the mean, min, std and so on
df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# CSV

In [159]:
from io import StringIO, BytesIO

In [160]:
data = (
    "col1, col2, col3\n"
    "x,y,1\n"
    "a, b, 2\n"
    "c,d,3\n"
)

In [161]:
type(data)

str

In [162]:
StringIO()

In [163]:
pd.read_csv(StringIO(data))

  col1  col2   col3
0    x     y      1
1    a     b      2
2    c     d      3

In [164]:
# read from specific columns

df = pd.read_csv(StringIO(data), usecols=lambda x: x.upper() in ["COL1", "COL3"], skipinitialspace=True)  # the reason I used skipinitial space is because I used space after comma when writing col1, col2, col3. we can jjust write without the space or use skipinitialspace

In [165]:
df

  col1  col3
0    x     1
1    a     2
2    c     3

In [166]:
# to change the dataframe into csv file
df.to_csv("test.csv")

In [167]:
data = (
    "a,b,c,d\n"
    "1,2,3,4\n"
    "5,6,7,8\n"
    "9,10,11,12\n"
)

In [168]:
print(data)

a,b,c,d
1,2,3,4
5,6,7,8
9,10,11,12

In [169]:
df = pd.read_csv(StringIO(data), dtype=object)

In [170]:
df

   a   b   c   d
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [171]:
df = pd.read_csv(StringIO(data), dtype={'b':int, 'c': float, 'a':"int64"})

In [172]:
df

   a   b     c   d
0  1   2   3.0   4
1  5   6   7.0   8
2  9  10  11.0  12

In [173]:
print(df['a'][1])

5

In [174]:
df.dtypes

a      int64
b      int64
c    float64
d      int64
dtype: object

In [175]:
data = (
    'index,a,b,c\n'
    '4,apple,bat,5.7\n'
    '8,orange,cow,10\n'
)

In [176]:
pd.read_csv(StringIO(data))

   index       a    b     c
0      4   apple  bat   5.7
1      8  orange  cow  10.0

In [177]:
# we will use index_col = 0 to not use automatic row number and let our index we put  to be row number
pd.read_csv(StringIO(data), index_col = 0)

            a    b     c
index
4       apple  bat   5.7
8      orange  cow  10.0

In [178]:
data = ('a,b, c\n'
        '4, apple,bat, \n'
        '8, orange, cow')

In [179]:
pd.read_csv(StringIO(data))

         a     b    c
4    apple   bat
8   orange   cow  NaN

In [180]:
# in the above the printed ones are not in order that is because we put index_col = 0 earlier. this is affeting it. But now to fix it, we use index_col= False

pd.read_csv(StringIO(data), index_col=False)

/tmp/ipykernel_48301/1285034032.py:3: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  pd.read_csv(StringIO(data), index_col=False)

   a        b     c
0  4    apple   bat
1  8   orange   cow

In [181]:
## using usecols and index_col together

data = (
    'a,b,c\n'
    '4,apple,bat\n'
    '8,orange,cow,'
)

In [182]:
df = pd.read_csv(StringIO(data), usecols=['b','c'], index_col=False)

In [183]:
df

        b    c
0   apple  bat
1  orange  cow

In [184]:
## Quoting and Escape CharactersJ. Very useful in NLP
data = 'a, b\n"hello, \\"Bob\\", nice to see you", 5'

In [185]:
pd.read_csv(StringIO(data), escapechar='\\')

                               a   b
0  hello, "Bob", nice to see you   5

# CSV

In [186]:
Data = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead","title2":"Sr. Developer"}]}'
pd.read_json(StringIO(Data))

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

# Reading HTML content

In [197]:
url_mcc = 'https://en.wikipedia.org/wiki/Mobile_country_code'

In [198]:
dfs = pd.read_html(url_mcc)

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1000)>